---
import Layout from '../layouts/Layout.astro';

import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import SectionContainer from '../components/SectionContainer.astro';

import Mail from '../icons/Mail.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import BriefCase from '../icons/BriefCase.astro';
import Experience from '../components/Experience.astro';
---

<Layout
	title="Portafolio de Sebastian - Desarrollador y Programador Web"
	description="Desarrollador Web con más de 2 años de experiencia especializado en FrontEnd con ReactJS, NextJS y Astro."
>
	<main class="px-4">
		<SectionContainer class="py-20 md:pt-44 md:pb-24">
			<h1
				class="flex flex-col items-center gap-4 mb-6 text-3xl text-white text-center
				font-bold md:flex-row md:items-center md:text-4xl lg:text-5xl"
			>
				Hola, soy Sebastián Meneses 
				<a
					href="https://www.linkedin.com/in/sebastianmeneses29/"
					target="_blank"
					rel="noopener"
					class="inline-flex"
				>
					<Badge>Trabajemos juntos</Badge>
				</a>
			</h1>
			<h2 class="text-xl text-wrap mb-6 md:text-2xl">
				Desarrollador Web con más de 2 años de experiencia de <span class="text-yellow-200/90">Colombia.</span><br />
				<span class="text-blue-200/90">Especializado en FrontEnd con ReactJS, NextJS y Astro.</span>
			</h2>

			<nav class="flex flex-wrap gap-4">
				<SocialPill href="https://www.linkedin.com/in/sebastianmeneses29/">
					<LinkedIn class="size-4 md:size-6" />
					LinkedIn
				<SocialPill href="https://github.com/poncho29">
					<GitHub class="size-4 md:size-6" />
					Github
				</SocialPill>
				<SocialPill href="https://github.com/poncho29">
					<Mail class="size-4 md:size-6" />
					meneses321@hotmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="flex items-center gap-x-3 text-2xl font-semibold mb-6">
				<BriefCase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
