---
import ExperienceItem from "./ExperienceItem.astro";

  const EXPERIENCE = [
    {
      title: "Desarrollador Web",
      company: "AntPack",
      description: "Desarrollador de interfaces graficas, integración de APIs con ReactJS y NextJS.",
      date: "2022 - Presente",
    }
  ];
---

<ol class="relative mt-16">
  {EXPERIENCE.map((item) => (
    <li>
      <ExperienceItem {...item} />
    </li>
  ))}          
</ol>

