---
---

<button
  class="group size-10 border-2 border-white rounded-lg md:hidden"
>
  <div class="grid justify-items-center gap-1 md:hidden">
    <span
      class="h-1 w-6 rounded-full bg-white transition group-hover:rotate-45
      group-hover:translate-y-2"
    ></span>
    <span
      class="h-1 w-6 rounded-full bg-white transition group-hover:scale-0"
    >
    </span>
    <span
      class="h-1 w-6 rounded-full bg-white transition group-hover:-rotate-45
      group-hover:-translate-y-2"
    ></span>
  </div>
</button>