---
import HamburgerButton from "./HamburgerButton.astro";

const links = [
  { href: "#top", title: "Inicio" },
  { href: "#experience", title: "Experiencia" },
  { href: "#projects", title: "Proyectos" },
  { href: "#about", title: "Sobre mi" },
  { href: "#contact", title: "Contacto" },
];
---

<header
  class="w-full max-w-[1120px] flex items-center justify-between mx-auto p-4 xl:py-5 xl:px-0"
>
  <img
    src="/profile-image.webp"
    alt="sebastian photo"
    class="w-12 h-12 rounded-full"
  >

  <HamburgerButton />

  <nav
    class="hidden absolute top-20 left-0 w-full bg-[#050505]
    md:block md:static md:w-auto md:opacity-80 md:bg-transparent"
  >
    <ul
      class="flex flex-col gap-x-10 *:py-4 text-center md:flex-row"
    >
      {links.map(link => (
        <li
          class="hover:bg-white/10 md:hover:bg-transparent cursor-pointer"
        >
          <a
            href={link.href}
            class="hover:bg-transparent md:hover:text-blue-200"
          >
            {link.title}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>