---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {}

const { ...props } = Astro.props;
---

<section
  class={`w-full max-w-[820px] mx-auto py-20 md:pb-16 ${props.class || ''}`}
  {...props}
>
  <slot />
</section>